@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(39%)
        saturate(1371%) hue-rotate(216deg) brightness(93%) contrast(95%);

    --body-bg-color: #f6f6f6;
    --header-bg-color: #eee;
    --footer-bg-color: var(--header-bg-color);

    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate: #ededf6;

    // Header
    --header-act-dropdown-bg-color: #fff;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-border-color: #d2d1d6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg: #fff;

    // Category item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    // Butons
    --filter-btn-text-color: #6c6c72;
    --filter-btn-bg-color: #fff;

    // Product card
    --product-card-bg-color: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Filter
    --filter-form-bg-color: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form-tag-bg-color: #f8f8fb;

    // Auth
    --auth-content-bg-color: #fff;

    //Form
    --form-placeholder-color: #d2d1d6;

    // Product detail
    --product-detail-bg-color: #fff;
    --product-detail-info-bg-color: #f6f6f6;
    --product-detail-info-content-bg-color: #fff;

    // Breadcrumbs
    --breadcrumbs-bg-color: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

    // Search bar
    --search-bar-bg-color: #fff;

    // Text content
    --text-content-hr-bg-color: #ebebeb;

    // Checkout
    --checkout-breadcrumbs-bg-color: #fff;
    --checkout-cart-info-bg-color: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
    --checkout-border-color: #d2d1d6;
    --checkout-gift-shadow: rgba(237, 237, 246, 0.2);

    // Dialog
    --dialog-bg-color: #fff;
    --dialog-shadow: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
    // Cate-item-bg-md
    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
        --auth-intro-bg-color: #fff;
    }

    // Product detail-md
    @include abstracts.screen(md) {
        --product-detail-bg-color: #fafafd;
        --product-detail-info-bg-color: #fff;
    }

    // Breadcrumbs
    @include abstracts.screen(md) {
        --breadcrumbs-bg-color: #fff;
    }
}
