<div class="container">
    <div class="footer__innner">
        <div class="footer__row">
            <!-- Footer column 1 -->
            <div class="footer__col">
                <!-- Logo -->
                <a href="./" class="logo footer__logo">
                    <img
                        src="./assets/icons/logo.svg"
                        alt="Fashion Shop"
                        class="logo__img"
                    />
                    <h1 class="logo__title">Fashion Shop</h1>
                </a>
                <p class="footer__desc">
                    Fashion Shop là thương hiệu thời trang nam nữ đa dạng với
                    hàng nghìn mẫu thiết kế. Nơi các xu hướng thời trang trên
                    thế giới được cập nhật mỗi ngày.
                </p>

                <p class="footer__help-text">
                    Nhận tin tức và cập nhật sản phẩm
                </p>
                <form action="" class="footer__form">
                    <input
                        type="text"
                        class="footer__input"
                        placeholder="Email của bạn"
                    />
                    <button class="btn btn--primary">
                        <img src="./assets/icons/send.svg" alt="" /
                        style="width: 18px;">
                    </button>
                </form>
            </div>

            <!-- Footer column 2 -->
            <div class="footer__col">
                <h4 class="footer__heading">Cửa hàng</h4>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link"
                            >Áo quần cho mùa đông</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Áo quần cho mùa hè</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Váy - Đầm dự tiệc</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Giày - guốc</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link"
                            >Phụ kiện - trang sức</a
                        >
                    </li>
                </ul>
            </div>

            <!-- Footer column 3 -->
            <div class="footer__col">
                <h4 class="footer__heading">Hỗ trợ</h4>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Giảm giá</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Ưu đãi</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Trạng thái đơn</a>
                    </li>
                </ul>
            </div>

            <!-- Footer column 4 -->
            <div class="footer__col">
                <h4 class="footer__heading">Hợp tác</h4>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Dolce & Gabbana</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Louis Vuitton</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Gucci</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Chanel</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Coach</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Dior</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Fendi</a>
                    </li>
                </ul>
            </div>

            <!-- Footer column 5 -->
            <div class="footer__col">
                <h4 class="footer__heading">Liên hệ</h4>
                <ul class="footer__list">
                    <li>
                        <p class="footer__label">Email</p>
                        <a
                            href="mailto:fashionshop@shop.com"
                            class="footer__link"
                        >
                            fashionshop@shop.com
                        </a>
                    </li>
                    <li>
                        <p class="footer__label">Hotline</p>
                        <a href="tel:18008119" class="footer__link"
                            >1800 8119</a
                        >
                    </li>
                    <li>
                        <p class="footer__label">Địa chỉ</p>
                        <p class="footer__text">
                            Số 1, đường Độc Lập, phường Quán Thánh, quận Ba Đình
                        </p>
                    </li>
                    <li>
                        <p class="footer__label">Mở cửa</p>
                        <p class="footer__text">
                            THỨ 2 - THỨ 7<br />Sáng 10:00 - Chiều 5:00
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">
                © 2024 - 2050 Fashion Shop. Bản quyền.
            </p>

            <div class="footer__socials">
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--facebook"
                >
                    <img
                        src="./assets/icons/facebook.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--youtube"
                >
                    <img
                        src="./assets/icons/youtube.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--tiktok"
                >
                    <img
                        src="./assets/icons/tiktok.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--twitter"
                >
                    <img
                        src="./assets/icons/twitter.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--linkedin"
                >
                    <img
                        src="./assets/icons/linkedin.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
            </div>
        </div>
    </div>
</div>
