<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more d-none d-lg-block js-toggle" toggle-target="#navbar">
            <img src="./assets/icons/more.svg" alt="" class="icon top-bar__more-icon" />
        </button>

        <!-- Logo -->
        <a href="./" class="logo top-bar__logo">
            <img src="./assets/icons/logo.svg" alt="Fashion Shop" class="logo__img top-bar__logo-img" />
            <h1 class="logo__title top-bar__logo-title">Fashion Shop</h1>
        </a>

        <!-- Navbar -->
        <nav id="navbar" class="navbar hide">
            <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
                <img class="icon" src="./assets/icons/arrow-left.svg" alt="" />
            </button>

            <a href="./checkout.html" class="nav-btn d-none d-md-flex">
                <img class="icon" src="./assets/icons/buy.svg" alt="" class="nav-btn__icon" />
                <span class="nav-btn__title">Card</span>
                <span class="nav-btn__qnt">3</span>
            </a>

            <a href="#!" class="nav-btn d-none d-md-flex">
                <img class="icon" src="./assets/icons/heart.svg" alt="" class="nav-btn__icon" />
                <span class="nav-btn__title">Favorite</span>
                <span class="nav-btn__qnt">3</span>
            </a>

            <ul class="navbar__list js-dropdown-list">
                <!-- Trang chủ -->
                <li class="navbar__item">
                    <a href="./" class="navbar__link"> Trang chủ </a>
                </li>

                <!-- Trang sản phẩm -->
                <li class="navbar__item">
                    <div class="navbar__item-row">
                        <a href="./product.html" class="navbar__link">
                            Sản phẩm
                            <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__arrow" />
                        </a>
                    </div>
                    <!-- Dropdown -->
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            <div class="top-menu">
                                <!-- Top menu group 1 -->
                                <div class="top-menu__group">
                                    <!-- Menu column -->
                                    <div class="menu-column">
                                        <div class="menu-column__icon">
                                            <img src="./assets/img/category/cate-1.1.svg" alt=""
                                                class="menu-column__icon-1" />
                                            <img src="./assets/img/category/cate-1.2.svg" alt=""
                                                class="menu-column__icon-2" />
                                        </div>
                                        <div class="menu-column__content">
                                            <h2 class="menu-column__heading">
                                                Áo
                                            </h2>
                                            <ul class="menu-column__list">
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Áo thun
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Áo sơ mi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">Sơ mi cổ yếm</a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Áo vest
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Áo khoác
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Áo len dệt kim
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Bodysuit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Jumsuit
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Top menu group 2 -->
                                <div class="top-menu__group">
                                    <!-- Menu column -->
                                    <div class="menu-column">
                                        <div class="menu-column__icon">
                                            <img src="./assets/img/category/cate-2.1.svg" alt=""
                                                class="menu-column__icon-1" />
                                            <img src="./assets/img/category/cate-2.2.svg" alt=""
                                                class="menu-column__icon-2" />
                                        </div>
                                        <div class="menu-column__content">
                                            <h2 class="menu-column__heading">
                                                Quần
                                            </h2>
                                            <ul class="menu-column__list">
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Quần jean
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Quần shorts
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Quần tây(âu)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Quần ống suông
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Quần thun
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Quần culottes
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Quần ống rộng
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Top menu group 3 -->
                                <div class="top-menu__group">
                                    <!-- Menu column -->
                                    <div class="menu-column">
                                        <div class="menu-column__icon">
                                            <img src="./assets/img/category/cate-3.1.svg" alt=""
                                                class="menu-column__icon-1" />
                                            <img src="./assets/img/category/cate-3.2.svg" alt=""
                                                class="menu-column__icon-2" />
                                        </div>
                                        <div class="menu-column__content">
                                            <h2 class="menu-column__heading">
                                                Váy - Đầm
                                            </h2>
                                            <ul class="menu-column__list">
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Đầm
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Váy
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Váy ngắn
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Top menu group 4 -->
                                <div class="top-menu__group">
                                    <!-- Menu column -->
                                    <div class="menu-column">
                                        <div class="menu-column__icon">
                                            <img src="./assets/img/category/cate-4.1.svg" alt=""
                                                class="menu-column__icon-1" />
                                            <img src="./assets/img/category/cate-4.2.svg" alt=""
                                                class="menu-column__icon-2" />
                                        </div>
                                        <div class="menu-column__content">
                                            <h2 class="menu-column__heading">
                                                Giày
                                            </h2>
                                            <ul class="menu-column__list">
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Giày cao gót
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Giày thể thao
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Giày sục & giày lười
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Giày(dép) sandal
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Giày boots
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Top menu group 5 -->
                                <div class="top-menu__group">
                                    <!-- Menu column -->
                                    <div class="menu-column">
                                        <div class="menu-column__icon">
                                            <img src="./assets/img/category/cate-5.1.svg" alt=""
                                                class="menu-column__icon-1" />
                                            <img src="./assets/img/category/cate-5.2.svg" alt=""
                                                class="menu-column__icon-2" />
                                        </div>
                                        <div class="menu-column__content">
                                            <h2 class="menu-column__heading">
                                                Phụ kiện khác
                                            </h2>
                                            <ul class="menu-column__list">
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Đồng hồ
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Nón
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Túi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Thắt lưng
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#!" class="menu-column__link">
                                                        Sản phẩm khác
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- Trang giới thiệu -->
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"> Giới thiệu </a>
                </li>
                <!-- Trang liên hệ -->
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"> Liên hệ </a>
                </li>
            </ul>
        </nav>
        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <!-- Action -->
        <div class="top-act">
            <div class="top-act__group d-md-none top-act__group--single">
                <button class="top-act__btn">
                    <img src="./assets/icons/search.svg" alt="" class="icon top-act__icon" />
                </button>
            </div>

            <div class="top-act__group d-md-none">
                <div class="top-act__btn-wrap">
                    <button class="top-act__btn">
                        <img src="./assets/icons/heart.svg" alt="" class="icon top-act__icon" />
                        <span class="top-act__title">02</span>
                    </button>
                    <!-- Dropdown -->
                    <div class="act-dropdown">
                        <div class="act-dropdown__inner">
                            <img src="./assets/icons/arrow-up.png" alt="" class="act-dropdown__arrow" />
                            <div class="act-dropdown__top">
                                <h2 class="act-dropdown__title">
                                    Có 3 sản phẩm
                                </h2>
                                <a href="#!" class="act-dropdown__view-all">
                                    Xem tất cả
                                </a>
                            </div>

                            <div class="row row-cols-3 gx-2 act-dropdown__list">
                                <!-- Cart preview item 1 -->
                                <div class="col">
                                    <article class="cart-preview-item">
                                        <div class="cart-preview-item__img-wrap">
                                            <img src="./assets/img/product/item-1.png" alt=""
                                                class="cart-preview-item__thumb" />
                                        </div>
                                        <h3 class="cart-preview-item__title">
                                            Áo Khoác Mặc 2 Mặt Chất Kaki Gió 2
                                            Lớp Cao Cấp
                                        </h3>
                                        <p class="cart-preview-item__price">
                                            ₫ 240.000
                                        </p>
                                    </article>
                                </div>

                                <!-- Cart preview item 2 -->
                                <div class="col">
                                    <article class="cart-preview-item">
                                        <div class="cart-preview-item__img-wrap">
                                            <img src="./assets/img/product/item-2.png" alt=""
                                                class="cart-preview-item__thumb" />
                                        </div>
                                        <h3 class="cart-preview-item__title">
                                            Đầm ngắn Lovito hoa nhí cho chữ a nữ
                                            L65ED128
                                        </h3>
                                        <p class="cart-preview-item__price">
                                            ₫ 190.000
                                        </p>
                                    </article>
                                </div>

                                <!-- Cart preview item 3 -->
                                <div class="col">
                                    <article class="cart-preview-item">
                                        <div class="cart-preview-item__img-wrap">
                                            <img src="./assets/img/product/item-3.png" alt=""
                                                class="cart-preview-item__thumb" />
                                        </div>
                                        <h3 class="cart-preview-item__title">
                                            Đầm Lovito họa tiết hoa nhí phong
                                            cách thường ngày dành cho nữ
                                            LNA59243
                                        </h3>
                                        <p class="cart-preview-item__price">
                                            ₫ 300.000
                                        </p>
                                    </article>
                                </div>
                            </div>
                            <div class="act-dropdown__separate"></div>
                            <div class="act-dropdown__checkout">
                                <a href="./checkout.html"
                                    class="btn btn--primary btn--round act-dropdown__checkout-btn">
                                    Kiểm tra chi tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="top-act__separate"></div>

                <div class="top-act__btn-wrap">
                    <button class="top-act__btn">
                        <img src="./assets/icons/buy.svg" alt="" class="icon top-act__icon" />
                        <span class="top-act__title">02</span>
                    </button>
                    <!-- Dropdown -->
                    <div class="act-dropdown">
                        <div class="act-dropdown__inner">
                            <img src="./assets/icons/arrow-up.png" alt="" class="act-dropdown__arrow" />
                            <div class="act-dropdown__top">
                                <h2 class="act-dropdown__title">
                                    Có 3 sản phẩm
                                </h2>
                                <a href="./checkout.html" class="act-dropdown__view-all">
                                    Xem tất cả
                                </a>
                            </div>

                            <div class="row row-cols-3 gx-2 act-dropdown__list">
                                <!-- Cart preview item 1 -->
                                <div class="col">
                                    <article class="cart-preview-item">
                                        <div class="cart-preview-item__img-wrap">
                                            <img src="./assets/img/product/item-1.png" alt=""
                                                class="cart-preview-item__thumb" />
                                        </div>
                                        <h3 class="cart-preview-item__title">
                                            Áo Khoác Mặc 2 Mặt Chất Kaki Gió 2
                                            Lớp Cao Cấp
                                        </h3>
                                        <p class="cart-preview-item__price">
                                            ₫ 240.000
                                        </p>
                                    </article>
                                </div>

                                <!-- Cart preview item 2 -->
                                <div class="col">
                                    <article class="cart-preview-item">
                                        <div class="cart-preview-item__img-wrap">
                                            <img src="./assets/img/product/item-2.png" alt=""
                                                class="cart-preview-item__thumb" />
                                        </div>
                                        <h3 class="cart-preview-item__title">
                                            Đầm ngắn Lovito hoa nhí cho chữ a nữ
                                            L65ED128
                                        </h3>
                                        <p class="cart-preview-item__price">
                                            ₫ 190.000
                                        </p>
                                    </article>
                                </div>

                                <!-- Cart preview item 3 -->
                                <div class="col">
                                    <article class="cart-preview-item">
                                        <div class="cart-preview-item__img-wrap">
                                            <img src="./assets/img/product/item-3.png" alt=""
                                                class="cart-preview-item__thumb" />
                                        </div>
                                        <h3 class="cart-preview-item__title">
                                            Đầm Lovito họa tiết hoa nhí phong
                                            cách thường ngày dành cho nữ
                                            LNA59243
                                        </h3>
                                        <p class="cart-preview-item__price">
                                            ₫ 300.000
                                        </p>
                                    </article>
                                </div>
                            </div>

                            <div class="act-dropdown__bottom">
                                <div class="act-dropdown__row">
                                    <span class="act-dropdown__label">Tổng cộng sản phẩm</span>
                                    <span class="act-dropdown__value">₫ 730.000</span>
                                </div>
                                <div class="act-dropdown__row">
                                    <span class="act-dropdown__label">Thuế</span>
                                    <span class="act-dropdown__value">Free</span>
                                </div>
                                <div class="act-dropdown__row">
                                    <span class="act-dropdown__label">Phí vận chuyển</span>
                                    <span class="act-dropdown__value">₫ 50.000</span>
                                </div>
                                <div class="act-dropdown__row act-dropdown__row--bold">
                                    <span class="act-dropdown__label">Tổng thanh toán</span>
                                    <span class="act-dropdown__value">₫ 800.000</span>
                                </div>
                            </div>

                            <div class="act-dropdown__checkout">
                                <a href="./checkout.html"
                                    class="btn btn--primary btn--round act-dropdown__checkout-btn">
                                    Kiểm tra chi tiết
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-act__user">
                <img src="./assets/img/avatar-4.jpg" alt="" class="top-act__avatar" />
            </div>
        </div>
    </div>
</div>